# Create a new app at https://dev.twitter.com/ and add your own credentials.
common: &common
  twitter:
    consumer_key: ABC1234
    consumer_secret: ABC1234
    config.oauth_token: ABC1234
    oauth_token_secret: ABC1234

development:
  <<: *common

test:
  <<: *common

production:
  <<: *common
