<%= bootstrap_form_for(@challenge) do |f| %>
  <%= f.alert_message 'Please fix the errors below.' %>
  <%= f.text_field :description %>
  <%= f.submit 'Save', class: 'btn btn-primary' %>
  <a class="btn btn-default" onclick="window.history.back();">Cancel</a>
<% end %>
