<% title 'Challenges' %>

<ul>
  <% @challenges.each do |challenge| %>
    <li>
      <%= challenge.id %>: <%= link_to challenge.description, challenge %> (<%= challenge.photos.count %>)
    </li>
  <% end %>
</ul>


<br>

<%= link_to 'New Challenge', new_challenge_path %>
